<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reproductor de Video</title>
</head>
<body>

    <h2>Reproductor de Video</h2>

    <video width="640" height="360" controls>
        <source src="{{ url_for('serve_static', filename='KARDEX.mp4') }}" type="video/mp4">
        Tu navegador no soporta la reproducción de videos.
    </video>

    <h3>Subir un nuevo video</h3>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="video">
        <button type="submit">Subir</button>
    </form>

</body>
</html>
